mat-card {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 35px;
  mat-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #d5d9db;
  }
  .card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .input-container {
      width: 43%;
      margin: 10px 20px;
    }
  }
}



mat-card mat-form-field {
  width: 100%;
  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff !important;
  height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.phone{
  span{
    font-size: 10px;
    }
    ::ng-deep .mat-mdc-form-field-text-prefix {
      position: absolute;
      top: 27px;
  }
}



::ng-deep .phone input{
    text-indent: 30px
}